---
import { getI18N } from '../../langs';
import Section from '../containers/Section.astro';
import Experience from '../Experience.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section id="experience" class="flex min-h-screen flex-col items-center">
    <h2 class="mb-4 flex items-center gap-x-3 pt-20 md:pt-4 text-5xl font-semibold">
        <BriefcaseIcon class="size-10" />
        {i18n.WORK_EXPERIENCE}
    </h2>
    <Experience />
</Section>
