---
import { getI18N } from '../../langs';
import Section from '../containers/Section.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../Projects.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section id="projects" class="flex min-h-screen flex-col items-center">
    <h2 class="mb-4 flex items-center gap-x-3 pt-20 md:pt-4 text-5xl font-semibold">
        <CodeIcon class="size-10" />
        {i18n.PROJECTS}
    </h2>
    <Projects />
</Section>
