---
import { TAGS } from '@/components/Projects.astro';
import { getI18N } from '../../langs';
import Section from '../containers/Section.astro';
import BookIcon from '../icons/Book.astro';
import GlobeViewIcon from '../icons/GlobeView.astro';
import HeartStarIcon from '../icons/HeartStar.astro';
// import NetworkIcon from '../icons/Network.astro';
import ServerIcon from '../icons/Server.astro';
import ToolIcon from '../icons/Tool.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const FRONTEND_SKILLS = [
    TAGS.HTML,
    TAGS.JQUERY,
    TAGS.CSS,
    TAGS.JAVASCRIPT,
    TAGS.TAILWIND,
];
const BACKEND_SKILLS = [
    TAGS.PHP,
    TAGS.MYSQL,
    TAGS.MARIADB,
    TAGS.CSHARP,
    TAGS.JAVA,
];
const TOOL_SKILLS = [
    TAGS.VSCODE,
    TAGS.GODOT,
    TAGS.DOCKER,
    TAGS.ECLIPSE,
    TAGS.GIT,
    TAGS.VISUALSTUDIO,
];
const LEARNING_SKILLS = [
    TAGS.ASTRO,
    TAGS.LARAVEL,
    TAGS.PYTHON,
    TAGS.ANGULAR,
    TAGS.WPF,
];
---

<Section
    id="skills"
    class="mb-4 flex min-h-[40vh] flex-col items-center md:mb-16"
>
    <h2
        class="mb-4 flex items-center gap-x-3 pt-20 text-5xl font-semibold md:pt-4"
    >
        <HeartStarIcon class="size-10" />
        {i18n.SKILLS}
    </h2>
    <div class="grid h-auto w-full grow grid-cols-1 gap-2 md:grid-cols-4">
        <div class="border-0 pb-4 pe-[2px] md:border-r-2 border-slate-800/40 dark:border-slate-300/40">
            <h3
                class="flex items-center justify-center gap-x-3 text-3xl font-bold"
            >
                <GlobeViewIcon class="size-7" /> Frontend
            </h3>
            <ul class="mt-4 flex flex-row flex-wrap gap-2">
                {
                    FRONTEND_SKILLS.map((tag: any) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-base ${tag.class} border border-white/10 px-4 py-2 font-bold`}
                            >
                                {tag.icon && <tag.icon class="size-6" />}
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="border-0 pb-4 pe-[2px] md:border-r-2 border-slate-800/40 dark:border-slate-300/40">
            <h3
                class="flex items-center justify-center gap-x-3 text-3xl font-bold"
            >
                <ServerIcon class="size-7" /> Backend
            </h3>
            <ul class="mt-4 flex flex-row flex-wrap gap-2">
                {
                    BACKEND_SKILLS.map((tag: any) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-base ${tag.class} border border-white/10 px-4 py-2 font-bold`}
                            >
                                {tag.icon && <tag.icon class="size-6" />}
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="border-0 pb-4 pe-[2px] md:border-r-2 border-slate-800/40 dark:border-slate-300/40">
            <h3
                class="flex items-center justify-center gap-x-3 text-3xl font-bold"
            >
                <ToolIcon class="size-7" />
                {i18n.TOOLS}
            </h3>
            <ul class="mt-4 flex flex-row flex-wrap gap-2">
                {
                    TOOL_SKILLS.map((tag: any) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-base ${tag.class} border border-white/10 px-4 py-2 font-bold`}
                            >
                                {tag.icon && <tag.icon class="size-6" />}
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div>
            <h3
                class="flex items-center justify-center gap-x-3 text-3xl font-bold"
            >
                <BookIcon class="size-7" />
                {i18n.LEARNING}
            </h3>
            <ul class="mt-4 flex flex-row flex-wrap gap-2">
                {
                    LEARNING_SKILLS.map((tag: any) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-base ${tag.class} border border-white/10 px-4 py-2 font-bold`}
                            >
                                {tag.icon && <tag.icon class="size-6" />}
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <!-- <div class="col-span-4 -mt-2 border-0 md:border-t-2">
            <h3
                class="mt-4 flex items-center justify-center gap-x-3 text-3xl font-bold"
            >
                <NetworkIcon class="size-7" />
                {i18n.IT}
            </h3>
            <ul class="mt-2 flex flex-row flex-wrap justify-center gap-2">
                <li
                    class="flex gap-x-2 rounded-full border border-white/10 bg-slate-200 px-4 py-2 text-base font-bold dark:bg-slate-800"
                >
                    Switching & Routing
                </li>
                <li
                    class="flex gap-x-2 rounded-full border border-white/10 bg-slate-200 px-4 py-2 text-base font-bold dark:bg-slate-800"
                >
                    Network administrator
                </li>
                <li
                    class="flex gap-x-2 rounded-full border border-white/10 bg-slate-200 px-4 py-2 text-base font-bold dark:bg-slate-800"
                >
                    Structured cabling
                </li>
                <li
                    class="flex gap-x-2 rounded-full border border-white/10 bg-slate-200 px-4 py-2 text-base font-bold dark:bg-slate-800"
                >
                    Service desk
                </li>
            </ul>
        </div> -->
    </div>
</Section>
