---
import { getI18N } from '@/langs';
import ExperienceItem from './ExperienceItem.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const EXPERIENCE = [
    {
        date: i18n.DECEMBER.toLocaleLowerCase() + ' 2022 - ' + i18n.NOW.toLocaleLowerCase(),
        time: getYearsFromBetweenDate(new Date(), new Date('2022-12-07')),
        title: 'IT Supervisor - Truespect S.A de C.V',
        description: [i18n.MY_JOB_SECOND_DO, i18n.MY_JOB_SECOND_I_WAS],
    },
    {
        date: i18n.JUNE.toLocaleLowerCase() + ' 2019 - ' + i18n.NOVEMBER.toLocaleLowerCase() + ' 2022',
        time: getYearsFromBetweenDate(
            new Date('2022-11-10'),
            new Date('2019-06-01')
        ),
        title: 'Telecommunications Engineer − Solticom S.A de C.V',
        description: [i18n.MY_JOB_ONE_DO, i18n.MY_JOB_ONE_I_WAS],
    },
];

export function getYearsFromBetweenDate(dateFirst: Date, dateSecond: Date) {
    var diff = (dateSecond.getTime() - dateFirst.getTime()) / 1000;
    diff /= 60 * 60 * 24;
    return Math.abs(Math.round(diff / 365.25));
}
---

<div class="wrap relative h-full pb-2 pt-10">
    <div
        class="absolute -mt-10 hidden h-full border-2 border-slate-800/40 md:left-[49.9%] md:inline dark:border-slate-300/40"
    >
    </div>
    {
        EXPERIENCE.map((experience, index) => (
            <ExperienceItem
                {...experience}
                indexNo={index}
                class={index % 2 === 0 ? '' : 'reverse'}
            />
        ))
    }
</div>
