---
import { getI18N } from '@/langs';

interface Props {
    title: string;
    description: string[];
    class: string;
    date: string;
    time: number;
    indexNo: number;
}

const {
    title,
    description,
    date,
    time,
    class: className,
    indexNo,
} = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
    class={`${className} container-experience mb-8 grid grid-cols-5 gap-2 items-center md:place-items-center place-items-stretch`}
>
    <div
        class="experience-body z-10 rounded-lg bg-slate-300 px-6 py-4 shadow-xl dark:bg-slate-600"
    >
        <h3 class="mb-1 text-xl font-bold text-slate-800 dark:text-slate-200">{title}</h3>

        <p class="mb-2 font-normal italic">
            +{time}
            {i18n.YEARS.toLocaleLowerCase()} | {date}
        </p>
        <ul class="max-w-md font-medium list-inside">
            {
                description.map((line: string | object) =>
                    typeof line == 'string' ? (
                        <li class="flex items-center tracking-wide">
                            <svg
                                class="me-2 mt-1 size-4 flex-shrink-0 self-start text-slate-800 dark:text-slate-200"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            {line}
                        </li>
                    ) : (
                        <li>
                            <div class="flex items-center tracking-wide">
                                <svg
                                    class="me-2 mt-1 size-4 flex-shrink-0 self-start text-slate-800 dark:text-slate-200"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                >
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                </svg>
                                {line.text}
                            </div>
                            <ul class="ms-9 list-inside list-disc">
                                {line.items.map((item) => (
                                    <li>{item}</li>
                                ))}
                            </ul>
                        </li>
                    )
                )
            }
        </ul>
    </div>
    <div
        class="experience-point z-10 flex size-14 items-center rounded-full border-4 border-slate-800 bg-gray-200 shadow-xl dark:border-gray-200 dark:bg-slate-800"
    >
        <h1 class="mx-auto text-lg font-semibold">{indexNo + 1}</h1>
    </div>
    <div class="experience-blank hidden md:inline"></div>
</div>

<style>
    .experience-blank {
        grid-area: experienceBlank;
    }

    .experience-body {
        grid-area: experienceBody;
    }

    .experience-point {
        grid-area: experiencePoint;
    }

    .container-experience {
        grid-template-areas: 'experiencePoint experienceBody';
        grid-template-columns: 1fr 4fr;
    }
    .container-experience.reverse {
        grid-template-areas: 'experiencePoint experienceBody';
    }

    @media (min-width: 768px) {
        .container-experience {
            grid-template-areas: 'experienceBody experiencePoint experienceBlank';
            grid-template-columns: 2fr 1fr 2fr;
        }
        .container-experience.reverse {
            grid-template-areas: 'experienceBlank experiencePoint experienceBody';
        }
    }
</style>
