---
import { getI18N } from '@/langs';
import LanguagePicker from './LanguagePicker.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header
    class="sticky top-0 z-20 mx-auto flex w-full flex-col items-center justify-between gap-2 px-10 py-2 md:flex-row"
>
    <!-- <div class="w-20"></div> -->
    <nav
        class="flex flex-row items-center rounded-full border border-slate-900 bg-neutral-200 px-3 py-1 backdrop-blur-2xl dark:bg-slate-900/50"
    >
        <a
            class="rounded-full px-3 text-center text-xs transition hover:bg-white/10 sm:text-lg"
            aria-label="about-me"
            href="#about-me">{i18n.ABOUT_ME}</a
        >
        <a
            class="rounded-full px-3 text-center text-xs transition hover:bg-white/10 sm:text-lg"
            aria-label="skills"
            href="#skills">{i18n.SKILLS}</a
        >
        <a
            class="rounded-full px-3 text-center text-xs transition hover:bg-white/10 sm:text-lg"
            aria-label="experience"
            href="#experience">{i18n.WORK_EXPERIENCE}</a
        >
        <a
            class="rounded-full px-3 text-center text-xs transition hover:bg-white/10 sm:text-lg"
            aria-label="projects"
            href="#projects">{i18n.PROJECTS}</a
        >
        <!-- <a
            class="rounded-full px-3 transition hover:bg-white/10"
            href="#contacto">Contacto</a
        > -->
    </nav>
    <LanguagePicker />
</header>
<script>
    document.addEventListener('astro:page-load', () => {
        const sections = document.querySelectorAll('section');
        const navItems = document.querySelectorAll('header nav a');
        
        const callback = (entries: any[]) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    navItems.forEach((item) => {
                        if (
                            item.getAttribute('aria-label') == entry.target.id
                        ) {
                            item.classList.add('text-yellow-500');
                        } else {
                            item.classList.remove('text-yellow-500');
                        }
                    });
                }
            });
        };

        const observer = new IntersectionObserver(callback, {
            root: null,
            rootMargin: '0px',
            threshold: 0.3,
        });

        sections.forEach((section) => {
            observer.observe(section);
        });

        // Cleanup function
        document.onvisibilitychange = () => {
            if (document.visibilityState === 'hidden') {
                observer.disconnect();
            } else {
                sections.forEach((section) => {
                    observer.observe(section);
                });
            }
        };
    });
</script>