---
import { LANGUAGES } from '../langs';

const { currentLocale } = Astro;

let currentLanguage = currentLocale ?? 'en';
---

<ul
    class="flex gap-2 overflow-hidden rounded-full border border-slate-900 bg-neutral-200 backdrop-blur-2xl dark:bg-slate-900/50"
>
    {
        Object.entries(LANGUAGES).map(([lang, label]) => (
            <li
                class={`px-5 text-sm sm:text-base ${
                    currentLanguage.includes(label)
                        ? 'dark:bg-slate-100/30 bg-slate-500/30 dark:text-white text-gray-800 font-bold'
                        : ''
                }`}
            >
                <a href={label === 'en' ? '/' : label} class="capitalize">
                    {lang.toLocaleLowerCase()}
                </a>
            </li>
        ))
    }
</ul>
