---
import { getI18N } from '@/langs';

interface Props {
    title: string;
    title_complement: string;
    description: string[];
    link: string;
    git_repositories: any[];
    image: string;
    tags: any;
    indexNo: number;
}

const {
    title,
    title_complement,
    description,
    link,
    git_repositories,
    image,
    tags,
    indexNo,
} = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article
    x-cloak
    x-show={`subTab === ${indexNo}`}
    class="flex min-h-full animate-fade flex-col-reverse items-center p-4 sm:flex-row"
>
    <div class="w-full px-0 sm:w-[50%] sm:pe-4">
        <h3 class="mb-2 text-2xl font-semibold text-slate-300">
            {title} - {title_complement}
        </h3>
        {
            description.map((desc: string) => (
                <p class="text-pretty font-medium text-lg">{desc}</p>
            ))
        }
        <div class="container w-full">
            <div class="flex flex-col">
                <p class="mt-2 font-bold">{i18n.MADE_WITH}:</p>
                <ul class="flex flex-row flex-wrap gap-2">
                    {
                        tags.map((tag: any) => (
                            <li>
                                <span
                                    class={`flex gap-x-2 rounded-full text-sm ${tag.class} border border-white/10 py-1 px-3 font-bold`}
                                >
                                    {tag.icon && <tag.icon class="size-5" />}
                                    {tag.name}
                                </span>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="flex flex-col">
                <p class="mt-2 font-bold">{i18n.REPOSITORY}:</p>
                <ul class="flex flex-row gap-x-2">
                    {
                        git_repositories.map((repository: any) => (
                            <li>
                                <a
                                    href={repository.link}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-md flex gap-x-2 rounded-full border border-white/10 bg-gray-200 py-1 pe-3 ps-2 font-bold hover:bg-slate-400/50 dark:bg-slate-800"
                                >
                                    <repository.icon class="size-6" />
                                    {repository.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-2 w-full sm:mb-0 sm:w-[50%]">
        {
            link === '' ? (
                <img
                    loading="lazy"
                    class="aspect-video w-auto rounded shadow-2xl shadow-white/10"
                    src={image}
                    alt={`Screenshot for ${title}`}
                />
            ) : (
                <a href={link} class="w-auto">
                    <img
                        loading="lazy"
                        class="aspect-video rounded shadow-2xl shadow-white/10"
                        src={image}
                        alt={`Screenshot for ${title}`}
                    />
                </a>
            )
        }
    </div>
</article>
