---
import CopyIcon from '@/components/icons/Copy.astro';
import { getI18N } from '@/langs';

const { href, text, copyAble, class: className } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---


<div
    class={`${className ?? ''} flex items-center justify-center rounded-full border border-gray-400 bg-white/5 text-sm text-black/70 transition hover:scale-110 hover:bg-white/10 md:text-base dark:border-white/10 dark:text-white/50`}
>
    <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-x-2 px-3 py-2 md:py-3"
    >
        <slot />
        {text !== null ? text : ''}
    </a>
    {
        copyAble && (
            <input type="hidden" id="LANG_COPIED" value={i18n.COPIED} name="LANG_COPIED">
            <input type="hidden" id="LANG_COPY_TO" value={i18n.COPY_TO_CLIPBOARD} name="LANG_COPY_TO">

            <div class="tooltip relative inline-block text-sm">
                <button
                    class="copyable -ms-2 flex flex-col items-center rounded-r-full py-2 pe-3 ps-2 hover:bg-black/50 md:py-3"
                    data-to-copy={text}
                >
                    <span
                        class="tooltiptext absolute w-fit self-end text-wrap rounded-md p-2 text-center text-white md:self-center md:text-nowrap"
                        id="myTooltip"
                    >
                        {i18n.COPY_TO_CLIPBOARD}
                    </span>
                    <CopyIcon class="size-5 md:size-6" />
                </button>
            </div>
        )
    }
</div>

{copyAble && (
    <script>
        var buttonCopyAble = document.querySelector('.copyable');
        var langCopied = document.querySelector('#LANG_COPIED');
        var langCopyTo = document.querySelector('#LANG_COPY_TO');

        function copyText(text) {
            navigator.clipboard.writeText(text);

            var tooltip = document.getElementById('myTooltip');
            if (tooltip != null) {
                tooltip.innerHTML = (langCopied?.getAttribute('value') ?? 'Copied') + ': ' + text;
            }
        }

        function outFunc() {
            var tooltip = document.getElementById('myTooltip');
            if (tooltip != null) {
                tooltip.innerHTML = langCopyTo?.getAttribute('value') ?? 'Copy to clipboard';
            }
        }

        if (buttonCopyAble != null) {
            var textToCopy = buttonCopyAble?.getAttribute('data-to-copy') ?? '';
            buttonCopyAble.addEventListener('click', () => {
                copyText(textToCopy);
            });

            buttonCopyAble.addEventListener('mouseout', () => {
                outFunc();
            });
        }
    </script>
)}

<style>
    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #555;
        bottom: 120%;
        opacity: 0;
        transition: opacity 0.4s;
    }

    .tooltip .tooltiptext::after {
        content: '';
        position: absolute;
        top: 100%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    @media (max-width: 767px) {
        .tooltip .tooltiptext::after {
            right: 5%;
        }
    }

    @media (min-width: 768px) {
        .tooltip .tooltiptext::after {
            left: 50%;
        }
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
