<svg
{...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    width="190"
    height="134"
    viewBox="0 0 190 134"
    ><g fill="none" fill-rule="evenodd"
        ><path
            fill="#77C1D2"
            d="M149.52 22.303 189.392 62l-39.872 39.697L109.648 62z"
        ></path><path
            fill="#2D3441"
            d="M49.84 22.303 132.5 104.6H52.756L9.968 62z"></path></g
    ></svg
>
