<svg
    {...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    viewBox="0 0 128 128"
    ><path
        fill="currentColor"
        d="M104 0H24C15.164 0 8 7.164 8 16v96c0 8.836 7.164 16 16 16h80c8.836 0 16-7.164 16-16V16c0-8.836-7.164-16-16-16zm8 112c0 4.414-3.586 8-8 8H24c-4.406 0-8-3.586-8-8V16c0-4.414 3.594-8 8-8h80c4.414 0 8 3.586 8 8v96z"
    ></path><path
        class="line"
        d="M32 24h64v8H32zM32 40h64v8H32zM32 56h64v8H32zM32 72h32v8H32z"></path>
    <style>
        .line {
            fill: rgba(0, 0, 0, 0.5);
        }
        @media (prefers-color-scheme: dark) {
            .line {
                fill: rgba(255, 255, 255, 0.5);
            }
        }
    </style></svg
>
