<svg
    {...Astro.props}
    viewBox="0 0 256 256"
    width="256"
    height="256"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
        d="M229.81 168.288s-.338-2.075-.536-2.056l-37.653 3.633a6.119 6.119 0 00-5.533 5.681l-1.034 14.826-29.13 2.078-1.982-13.437c-.441-2.989-3.051-5.242-6.072-5.242h-39.74c-3.02 0-5.63 2.253-6.071 5.242l-1.983 13.437-29.13-2.078-1.034-14.826a6.12 6.12 0 00-5.533-5.682l-37.672-3.632c-.195-.019-.337 2.058-.532 2.058l-.05 8.148 31.904 5.145 1.044 14.959c.212 3.028 2.655 5.477 5.685 5.694l40.119 2.862c.152.01.301.017.451.017 3.015 0 5.621-2.254 6.062-5.243l2.039-13.826h29.143l2.039 13.826c.44 2.988 3.049 5.242 6.068 5.242.148 0 .296-.006.44-.016l40.124-2.862c3.029-.217 5.473-2.666 5.685-5.694l1.043-14.959 31.891-5.167-.052-8.128z"
        fill="#fff"></path><path
        d="M26.175 106.847v61.441c.112.001.224.005.336.016l37.667 3.631a4.057 4.057 0 013.657 3.756l1.162 16.628 32.857 2.344 2.264-15.346c.293-1.99 2-3.465 4.012-3.465h39.741a4.055 4.055 0 014.011 3.465l2.264 15.346 32.858-2.344 1.161-16.628a4.058 4.058 0 013.657-3.756l37.653-3.631a3.72 3.72 0 01.335-.016v-4.903l.015-.005v-56.533c5.304-6.678 10.327-14.043 14.175-20.24-5.881-10.01-13.086-18.957-20.788-27.246-7.143 3.595-14.081 7.668-20.634 12.003-3.279-3.26-6.973-5.926-10.6-8.713-3.564-2.863-7.581-4.962-11.391-7.407 1.134-8.447 1.695-16.763 1.921-25.442-9.83-4.947-20.313-8.227-30.916-10.583-4.233 7.115-8.104 14.82-11.476 22.352-3.998-.668-8.015-.916-12.037-.964v-.006c-.029 0-.055.006-.078.006-.025 0-.051-.006-.076-.006v.006c-4.03.048-8.044.296-12.043.964-3.37-7.532-7.239-15.237-11.478-22.352-10.598 2.356-21.082 5.636-30.91 10.583.224 8.68.785 16.995 1.922 25.442-3.817 2.446-7.828 4.544-11.394 7.407-3.622 2.787-7.322 5.453-10.602 8.713-6.553-4.335-13.489-8.408-20.634-12.003C25.084 67.65 17.883 76.596 12 86.607c4.623 7.257 9.582 14.551 14.175 20.24z"
        fill="#478CBF"></path><path
        d="M196.018 179.681l-1.167 16.716a4.057 4.057 0 01-3.758 3.763l-40.122 2.863a4.057 4.057 0 01-4.301-3.455l-2.301-15.604h-32.738l-2.301 15.604a4.053 4.053 0 01-4.301 3.455l-40.122-2.863a4.058 4.058 0 01-3.758-3.763l-1.166-16.716-33.87-3.266c.015 3.64.062 7.628.062 8.422 0 35.772 45.378 52.965 101.756 53.163h.138c56.379-.198 101.741-17.391 101.741-53.163 0-.808.049-4.78.065-8.422l-33.857 3.266z"
        fill="#478CBF"></path><path
        d="M97.304 131.788c0 12.542-10.162 22.702-22.7 22.702-12.532 0-22.697-10.16-22.697-22.702 0-12.534 10.165-22.688 22.697-22.688 12.538 0 22.7 10.154 22.7 22.688z"
        fill="#fff"></path><path
        d="M91.842 133.134c0 8.319-6.743 15.062-15.068 15.062-8.32 0-15.068-6.743-15.068-15.062 0-8.319 6.747-15.067 15.068-15.067 8.325 0 15.068 6.748 15.068 15.067z"
        fill="#414042"></path><path
        d="M127.998 156.555c-4.035 0-7.306-2.974-7.306-6.64v-20.898c0-3.663 3.271-6.64 7.306-6.64 4.036 0 7.314 2.977 7.314 6.64v20.898c0 3.666-3.278 6.64-7.314 6.64zM158.697 131.788c0 12.542 10.162 22.702 22.702 22.702 12.53 0 22.694-10.16 22.694-22.702 0-12.534-10.164-22.688-22.694-22.688-12.54 0-22.702 10.154-22.702 22.688z"
        fill="#fff"></path><path
        d="M164.16 133.134c0 8.319 6.74 15.062 15.059 15.062 8.328 0 15.068-6.743 15.068-15.062 0-8.319-6.74-15.067-15.068-15.067-8.319 0-15.059 6.748-15.059 15.067z"
        fill="#414042"></path></svg
>
