<svg
    {...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-server-2"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
    ></path><path
        d="M3 12m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
    ></path><path d="M7 8l0 .01"></path><path d="M7 16l0 .01"></path><path
        d="M11 8h6"></path><path d="M11 16h6"></path></svg
>
